[submodule "backend/third_party/libzmq"]
	path = backend/third_party/libzmq
	url = git@github.com:zeromq/libzmq.git
[submodule "backend/third_party/cppzmq"]
	path = backend/third_party/cppzmq
	url = git@github.com:zeromq/cppzmq.git
[submodule "backend/third_party/userver"]
	path = backend/third_party/userver
	url = git@github.com:userver-framework/userver.git
	branch = refs/tags/v2.14
