services:
  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-qwerty}"
      POSTGRES_USER: "${POSTGRES_USER:-admin}"
      POSTGRES_DB: "workHosting"
    volumes:
      - "./init/pg:/docker-entrypoint-initdb.d:ro"
      - "${STORAGE_PATH:-/tmp}/postgres:/var/lib/postgresql"

networks:
  backend:
    driver: bridge
